{{define "Edit"}}
{{template "_head"}}

{{template "_menu"}}

<div class="container">

    <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Editando usuário</h1>
            <p class="lead">Insira os dados para atualizar ou editar</p>
        </div>
    </div>
    <form method="POST" action="update">
        <input type="hidden" name="id" value="{{.Id}}" >
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" class="form-control" value="{{.Nome}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control" value="{{.Email}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="squad">Squad:</label>
                    <input type="number" name="squad" class="form-control" step="0.01" value="{{.Squad}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="permissao">Permissão:</label>
                    <input type="text" name="permissao" class="form-control" value="{{.Permissao}}">
                </div>
            </div>
        </div>
        <button type="submit" value="salvar" class="btn btn-success">Atualizar</button>
        <a class="btn btn-info" href="/">Voltar</a>
    </form>
    </body>

    </html>
</div>
</body>

</html>
{{end}}